img.bg {
  opacity: 0.85; 
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#About{
    font-family: 'Dancing Script', cursive;
	font-size: 150px;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}