body {
  font-family: Montserrat;
}

.nav-wrapper li:hover {
  background-color: aliceblue;
  } 

.nav-wrapper li:active {
  background-color: white;
} 

.categories {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(4,1fr)
}

.category {
display: grid;
grid-template-columns: 3fr 1fr;
/* -webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.75); */
}

.stores {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

select {
  width: 200px;
}

datalist option {
  width: 200px;
}

input {
  width: 270px;
}