body {
  font-family: Montserrat;
}

.nav-wrapper li:hover {
  background-color: #f1f8e9;
  } 

.nav-wrapper li:active {
  background-color: #e53935;
} 

.categories {
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(4,1fr)
}

.category {
display: grid;
grid-template-columns: 3fr 1fr;
}